// Colors

$red : #f50029cb;
$black: #121212;
$white: #CFCFCF;

// Fonts

@font-face {
    font-family: "Fengardo Neue";
    src: url("../assets/fonts/FengardoNeueBlack.otf") format("otf");
    src: url("../assets/fonts/FengardoNeueBlack.ttf") format("ttf"),
         url("../assets/fonts/FengardoNeueBlack.woff") format("woff"),
         url("../assets/fonts/FengardoNeueBlack.woff2") format("woff2");
    font-weight: bolder;
}

@mixin Georgia {
    font-family: "Georgia";
}

@mixin Fengardo {
    font-family: "Fengardo Neue";
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    background: $black;
    color: $white;
    font-size: 21px;
    @include Georgia();
    width: 100%;
    overflow-x: hidden;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: $red;
    @include Fengardo();
    font-size: 48px;
    margin-bottom: 32px;
}

p {
    line-height: 32px;
}

input[type="submit"], .reset, .addSourceToFavorites {
    background: $red;
    display: inline-block;
    width: 200px;
    color: $white;
    border: none;
    height: 40px;
    text-align: left;
    padding-left: 20px;
    @include Fengardo();
    margin-top: 30px;
    cursor: pointer;
}

.formConfirm {
    display: flex;

    .reset {
        margin-left: 30px;
    }
}

form.formSource {
    display: flex;
    flex-direction: column;

    select {
        height: 40px;
        margin-top: 30px;
        color: white;
        background: $black;
        border: solid 1px $red;
    }

    input[type="text"] {
        border: none;
        border-bottom: solid 1px $white;
        background: $black;
        padding: 20px 5px;
        color: $white;
        @include Fengardo();
    }
}

.form-login, .form-register, .aside-favorites {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    ul {
        margin: 0;

        li {
            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

    input:not([type="submit"]) {
        background: $black;
        border: none;
        border-bottom: solid 1px $white;
        color: white;
        height: 30px;
        margin-top: 20px;
        padding-left: 20px;
        @include Fengardo();
    }

    button {
        font-size: 14px;
        @include Georgia();
        border: none;
        background: $black;
        color: $white;
        margin-top: 20px;
        text-align: left;
        cursor: pointer;
    }

    p {
        color: $red;
        margin-top: 30px;
        @include Fengardo();
    }
}

.aside-favorites {
    display: none;
}

.form-register {
    margin-top: 100vh;
    transition: 0.3s ease-out;

    &.show {
        margin-top: 10px;
    }
}

aside {
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: calc(-30vw - 1px);
    top: 0;
    background: $black;
    border-left: solid 1px $white;
    transition: 0.2s all ease-out;

    &.open {
        right: 0
    }

    .aside-signet, .aside-disconnect {
        position: absolute;
        width: 40px;
        height: 30px;
        background: $red;
        top: 20px;
        left: -41px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        justify-content: center;

        img {
            width: 20px;
        }
    }

    .aside-disconnect {
        top: 70px;
        display: none;
    }

    ul {
        list-style: none;
        margin: 30px;
    }
}

.addSourceToFavorites {
    display: none;
    margin-left: 30px;
}

.favItem {
    display: flex;
    align-items: flex-start;

    h3 {
        cursor: pointer;
    }

    .delete {
        width: 15px;
        height: 15px;
        margin-left: 10px;
        margin-top: 2px;
        cursor: pointer;
    }
}

.section-articles {
    margin-top: 70px;
    margin-bottom: 50px;
    
    article {
        width: 60%;

        img {
            border-radius: 5px;
            width: 70%;
        }

        h2 {
            color: $red;
            @include Fengardo();
            font-size: 24px;
            margin-top: 30px;
        }

        span {
            font-size: 16px;
            margin-bottom: 16px;
            display: inline-block;
        }

        p {
            margin-bottom: 100px;
        }
    }
}

.errorPanel, .goodPanel {
    background: $red;
    opacity: 1;
    position: absolute;
    bottom: 50px;
    left: -360px;
    color: $white;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    transition: .2s all ease-in;

    &.open {
        left: 0px;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        @include Fengardo();
    }

    p {
        margin-top: 10px;
        font-size: 18px;
    }
}

.goodPanel {
    background: rgba(2, 138, 68, 0.667);
}